<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form class="site-form" action='/accounts/signup/' method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Sign Up">
    </form>

    <p>Already have an account?</p>
    <button onclick="location.href='/accounts/login'" class="button_signup">Login</button>

</body>
</html>