{% extends 'base_layout.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Welcome {{ user }}!
    </h1>
{% else %}
    <h1>Welcome!</h1>
{% endif %}
    <div class="recipes">
        {% for recipe in recipes %}
            <div class="recipe">
                    <a href="{{ recipe.slug }}"><h2>Name: {{ recipe.title }}</h2></a>
                    <p class="recipe_description">About = {{ recipe.about }}</p>
                    <!-- <p>{{ recipe.ingredients }}</p> -->
                    <p class="recipe_description">Procedure = {{ recipe.procedure }}</p>
                    <p class="recipe_description">Difficulty = {{ recipe.difficulty }}</p>
                    <p class="recipe_description">Favourite = {{ recipe.favourite }}</p>
                    <p class="recipe_description">Bookmark = {{ recipe.bookmark }}</p>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
    <!-- {% url 'recipes:recipePage' slug=recipe.slug %} -->
    <!-- {% url 'recipePage' %} -->
    <!-- {% url 'recipePage' slug=recipe.slug %} -->